---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>كُتبت بواسطة</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>في&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>
  
  {% if page.tags %}
  <div class="tags-clouds post-tags">
    {% for tag in page.tags %}
    <a href="{{ '/تصنيفات' | relative_url }}#{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}
</div>

{% if page.comments or site.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination" dir="ltr">
  <div class="pagination-end pagination-end--left">
    {% if page.next.url %}
      <a href="{{ page.next.url | relative_url }}" class="pagination-arrow pagination-arrow--prev" aria-label="التدوينة التالية">&#8592;</a>
    {% endif %}
  </div>

  <div class="pagination-end pagination-end--center">
    <a href="#" class="top">Top</a>
  </div>

  <div class="pagination-end pagination-end--right">
    {% if page.previous.url %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination-arrow pagination-arrow--next" aria-label="التدوينة السابقة">&#8594;</a>
    {% endif %}
  </div>
</div>